  <div>
    <form [formGroup]="form" >
      <div>
        <h2>Digite aqui: </h2>
        <textarea formControlName="text"></textarea>
      </div>
    </form>

    <h3 *ngIf="form?.get('text')?.value?.length != 0">Tradução sigilos:</h3>
    <div style="font-size:1.5rem; font-family: SinaisOutroLado; border: solid 1 px black; padding: 1px; border-radius: 1%;">
      
      {{form?.get('text')?.value}}
    </div>

    <h3 *ngIf="form?.get('text')?.value?.length != 0">Tradução Phyrexian:</h3>
    <div style="font-size:1.5rem; font-family: Phyrexian; border: solid 1 px black; padding: 1px; border-radius: 1%;">
      
      {{form?.get('text')?.value}}
    </div>


    <h3 *ngIf="form?.get('text')?.value?.length != 0">Phyrexian:</h3>
    <div *ngIf="form?.get('text')?.value?.length != 0" style="font-size:1.5rem; font-family: PhyrexianHorizontal; border: solid 1 px black; padding: 1px; border-radius: 1%;">
      
      |{{form?.get('text')?.value}}.
    </div>

    
  </div>
